/build
./build
/.idea
/.gradle
./.idea
./.gradle
/gradle
./gradle
/MyCenchaTouch/gradle
/MyCenchaTouch/.idea
/MyCenchaTouch/gradlew
/MyCenchaTouch/gradlew.bat
/MyCenchaTouch/MyCenchaTouch.iml
/MyCenchaTouch.iml
/*.iml
*.iml
./MyCenchaTouch/gradle
./MyCenchaTouch/.idea
./MyCenchaTouch/gradlew
./MyCenchaTouch/gradlew.bat
./MyCenchaTouch/MyCenchaTouch.iml
./MyCenchaTouch.iml

